<html>

    <head>
        <title>POEditor</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}poeditor/css/styles.css" />
    </head>

    <body onload="check_nav()">
        <div id="container" class="well">
            
            {% block navigation %}
            <ul class="nav nav-tabs">
                <li id="upload" ><a href="/poeditor/">Upload</a></li>
                <li id="list" ><a href="/poeditor/list/">List of PO Files</a></li>
            </ul>
            {% endblock navigation %}

            {% block messages %}
                {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %} 
            {% endblock %}

            {% block app_content %}{% endblock %}
        </div>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}poeditor/js/scripts.js"></script>
    </body>
</html>
