{% extends "poeditor/base.html" %}

{% block app_content %}   

{% if po_messages %}
    <div id="status-messages"></div>
    <button id="btn-save" class="btn btn-primary" onclick="make_changes()" >Save Changes</button>
    <br /> 
    <table class="table table-condensed table-bordered table-striped">
        <thead>
            <td>#</td>
            <td>Location</td>
            <td>Source</td>
            <td>Target</td>
        </thead>
        {% for message in po_messages %}
        <tr id="tr{{ message.pk }}" onkeydown="stage_for_changes('{{ message.pk }}')">
            <td>{{ forloop.counter }}</td>
            <td id="location{{ message.pk }}" contenteditable="true" >{{ message.location }}</td>
            <td id="source{{ message.pk }}" contenteditable="true" >{{ message.source }}</td>
            <td id="target{{ message.pk }}" contenteditable="true" >{{ message.target }}</td>
        </tr>
        {% endfor %}
    </table>

{% else %}
No messages corresponding to this upload.
{% endif %}

{% endblock app_content %}
